/* *******
* fonts *
******* */

$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;

$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

/* *******************
 		Mixins
******************* */

@mixin hide-text-bg-img {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin multi-line-flow-link {
  line-height:1.25; margin-top:.33em; padding-bottom:.17em;
}

@mixin bar-arrow {
  content:'';
  display:block;
  position:relative;
  right:-17.275em;
  top:-2.25em;
  border-top: 1.3em solid transparent;
  border-left: .5em solid $wwuLtblue;
  border-bottom: 1.3em solid transparent;
}

// Add Compass IE and vendor prefix support variables.
@import "compass/support";

// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";

// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";

// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";

// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm";

// Text replacement
@import "compass/typography/text/replacement";

// Add the Zen Grids responsive layout mixins.
@import "zen";
