@import "base";
@import "breakpoints";

//Fixes alignment of WWU footer links in mobile view size.
#block-block-18 {
  padding-left: 2em;
  padding-bottom: 1em;
  p {
    padding: 0 0.5em 0.5em 0;
  }
  @media screen and (min-width: $display-large){
    padding-left: inherit;
    p {
      padding: inherit;
    }
  }
}
