/**
 * @file
 * Customization for WWUZEN-Dual-SMATE Theme
 *
 */
@import "base";
@import "breakpoints";
@import "footer";
@import "colors";
// Styles for the site

main{
  padding: 1em;

  //Default style for News and Events & Featured headers.
  h2{
      background: $wwuLime;
      color: $wwuBlue;
      display: inline-flex;
      padding: 0.3em;
      text-transform: uppercase;
  }
  //Hide the h2 block that appears above menus
  .block-accordion-menu {
     h2 {
       display: none;
    }
  }

  .page-title {
    border-bottom: none;
    margin: 0;
  }

  //Left column content.
  .left {
    margin:0;
    padding-bottom: 1.5em;
  }

  //Fixes scale of Green Hexagon "Support SMATE" link.
  .clearfix > .support-smate-link {
    width:225px;
  }

  //Blue "Scholarships Available" Image link.
  .smate-scholarships-img {
    margin-right: 1em;
    @media screen and (min-width: $display-medium){
      width: 100%;
    }
    @media screen and (min-width: $display-large){
      width: 48%;
    }
  }

  //Left and right rontent columns.
  .panels-flexible-region-first, .panels-flexible-region-last {
    width:100%;
    margin: 0.2em;
    @media screen and (min-width: $display-medium) {
      width:47%;
    }
  }

  //Holds SMATE node content.
  .region-top {
    width: 100%;
    @media screen and (min-width: $display-large){
      width: 75%;
    }
  }

  //Styling for SMATE node content header.
  .smate-description-header {
    margin-top:0;
    padding-top: 0;
  }

  //Helpful Links block styling
  .helpful-links{
    background: white;
    color: $wwuOceanBlue;
    width: 100%;
    @media screen and (min-width: $display-large) {
      width: 47%;
    }
    .pane-title {
      background: $wwuBlue;
      color: white;
      margin: 0;
      width: -webkit-fill-available;
      width: -moz-available;
    }
    p {
      padding: 0.5em;
      margin:0;
    }

  }

  //Featured slideshow pager styling.
  .flex-control-paging li a{
    background: url("../images/Hexagon.png") center no-repeat;
    padding: 15px;
    display: inline-block;
    box-shadow: none;

    &.flex-active, &:hover{
      background: url("../images/HexagonActive.png") center no-repeat;
    }
  }

  //Featured slideshow pager positioning.
  .flex-control-nav {
    text-align: left;
    bottom: -3em;
  }

  //Prevents Support Smate image from wrapping early.
  .clearfix > .clearfix {
    @media screen and (min-width: $display-large){
      display: flex;
    }
  }

  //Styling for "News and Events" right content column.
  .news-and-events ul{
    list-style: none;
      padding-left: 0;
    li{
      padding-bottom: 1em;
      clear: both;
      //Adds graphic divider images between stories.
      &::after {
        content: url("../images/taperborder.png");
        width: 100%;
        display: inline-flex;
        padding-top: 1em;
      }
      //Removes divider image after last News/Event item
      &:last-of-type {
        &::after {
          content: none;
        }
      }
      img{
        padding-right: 25px;
      }

    }
  }

div.panels-flexible-region.panels-flexible-region-cs_edited_layout-right.panels-flexible-region-last{
    float: right;
    @media screen and (min-width: $display-medium){
      padding-left: 1em;
    }
  }
}
